<section class="order" id="order">
    <div class="row">     
        <div class="image">
            <img src="/images/orders.png" alt="">
        </div>  
        <% order.food = order.food.map(item=>{
            return item.foodID
        })
        /* console.log(order.food) */ %> 
        
        <form>
            <h1 class="heading"> <span>My</span> Orders </h1>
            <%if(order.food > 0){%> 
                <% food.forEach(foodorder => {%> 
                <div class="inputBox">
                    <h2><span><%= order.food.includes(foodorder.id) ? foodorder.name : "" %></span>  </h2>     
                    <h2><span><%= order.food.includes(foodorder.id) ? foodorder.price : "" %></span>  </h2>                
                </div>
                <% })  %> 
                <!-- <h2><span>Total: </span> <% %> </h2> -->
                <a href="/orders/complete" class="btn">completed</a>
                <!-- <input type="submit" value="completed" class="btn"> -->
            <% }else{%>
                <h3 class="heading"> Don't have Orders </h3>
                <a href="/orders/completed" class="btn">my orders</a>
            <% } %> 
        </form>
            
        <% if (locals.error) { %>
            <p><%=message%> </p>
        <% } %> 
    </div>
</section>
