<section class="order" id="order">
    <div class="row">     
        <div class="image">
            <img src="/images/login.png" alt="">
        </div>

        <form action="/auth/signup" method="post">
            <h1 class="heading"> <span>Register</span> now </h1>
            <div class="inputBox">
                <input type="text" name="name" id="" placeholder="Name...">
                <input type="email" name="email" placeholder="Email...">               
            </div>
            <div class="inputBox">  
                <input type="date" name="birthday" placeholder="Birthday...">
                <input type="password" name="password" placeholder="Password...">
            </div>        
            <input type="submit" value="Sign Up" class="btn">
        </form>
    </div>
</section>